<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!--Libraries-->
    <script src="../../Scripts/Shared/jquery-1.9.1.js"></script>
    <script src="../../Scripts/Shared/angular.js"></script>
    <script src="../../Scripts/Shared/bootstrap.js"></script>
    <script src="../../Scripts/Shared/angular-cookies.js"></script>
    <script src="../../Scripts/Shared/angular-route.js"></script>
    <script src="../../Scripts/Shared/angular-ui-router.js"></script>
    <!--Style Sheets-->
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../Style/admin.css" />
    <link rel="stylesheet" type="text/css" href="../../Style/common.css" />

    <!--Modules-->
    <script src="../../Scripts/app.js"></script>

    <!--Controllers-->
    <script src="../../Scripts/Controllers/admin/adminPortalController.js"></script>
    <script src="../../Scripts/Controllers/admin/homeController.js"></script>
    <script src="../../Scripts/Controllers/admin/questionsController.js"></script>
    <script src="../../Scripts/Controllers/admin/usersController.js"></script>
    <script src="../../Scripts/Controllers/admin/teamsController.js"></script>
</head>
<body ng-app="adminPortal" data-ng-init="init()" ng-controller="adminPortalController" ng-show="showIfAuthorized">
    <div class="bg-img"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home">QuizMaster</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="questions">Questions</a></li>
                    <li><a ui-sref="users">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a><span class="glyphicon glyphicon-user"></span>Profile</a>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-log-out"></span>Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>



    <a ui-sref="home">Home</a>
    <a ui-sref="questions">Questions</a>
    <a ui-sref="users">Users</a>
    <a ui-sref="teams">Teams</a>

    <div ui-view=""></div>

</body>
</html>