body {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}
.glass {
    background-color: rgba(128, 128, 128,0.8);
    border-radius: 24px;
    color:white;
    height: 100%;
    padding: 15px;
    border-style:dashed;
    border-color:black;
    border-width: 1px;
}

