<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/Shared/jquery-1.9.1.js"></script>
    <script src="../Scripts/Shared/angular.js"></script>
    <script src="../Scripts/Shared/bootstrap.js"></script>
    <script src="../Scripts/Shared/angular-cookies.js"></script>

    <script src="../Scripts/app.js"></script>
    <script src="../Scripts/Controllers/adminPortalController.js"></script>
</head>
<body ng-app="adminPortal" data-ng-init="init()" ng-controller="adminPortalController" ng-show="showIfAuthorized">
    <p >{{ content  }}</p> 
</body>
</html>