<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welocome To Presenter Mode</title>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/Shared/jquery-1.9.1.js"></script>
    <script src="../Scripts/Shared/angular.js"></script>
    <script src="../Scripts/Shared/bootstrap.js"></script>
    <script src="../Scripts/Shared/angular-cookies.js"></script>
    <script src="../Scripts/Controllers/adminPortalController.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css" />

    <script src="../Scripts/app.js"></script>
</head>
<body ng-app="presenterApp" ng-controller="presenterPortalController" >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">QuizMaster</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Teams</a></li>
                <li><a href="#">Questions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
            </ul>
        </div>
    </nav>
    <div >{{content}}</div>
        <picture>
            <img src= alt="QUIZ MASTER" class="img-responsive img-rounded " height="700" width="1366"/>
        </picture>
</body>
</html>